body {
    
}

#home{
    position:absolute ;
    height:50px;
    width:50px;
    background-color:#000;
    top:25vh;
    right:5vw;
    border-radius:50%;
    margin:auto;
    display:none;
}


#home .fa{
    margin:12px;
    font-size:2em;
    color:#fff;
    
}


header{
    height:50px;
    max-height:20vh;
    width:100vw;
    background-color:#ff9f43;
    display:flex;
    flex-direction:space-around;
    position:fixed;
    z-index:999;
    border-bottom: 2px solid #fff;
}

header span{
    margin:auto;
    }
    
header span h1{
       font-size:1.5em;
       text-transform:uppercase;
       margin-top:6px;
   } 
header .fa{
    font-size:1.5em;
    color:#fff;
    
}

.part1{
    background: #ff9f43;
    height:100vh;
    width:100vw;
}


#part1h1{
    position:absolute ;
    text-transform:uppercase ;
    font-size:1.5em;
    text-align:center;
    margin-top:80px;
    color:#ff9f43;
    background-color:#fff;
    padding:7px;
    
}


#part1h1down{
    position:absolute ;
    text-transform:uppercase ;
    font-size:1.5em;
    text-align:center;
    right:0;
    bottom:15vw;
    color:#ff9f43;
    background-color:#fff;
    padding:7px;
    
}

#part1img{
    position:absolute ;
    top:20vh;
    height:250px;
    width:100%;
}


#swipeup{
    position:absolute ;
    color:#fff;
    font-weight:800;
    padding:8px;
    bottom:15vw;
    left:43vw;
    border-radius:50%;
    font-size:2.5em;
    
}


.container1{
    width:100vw;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    margin:auto;
    padding-right:40px;
}


.container1 hr{
    height:15px;
    width:80vw;
    background-color:orange;
    border-radius:10px;
    border:none;
}

.container1 div{
    height:350px;
    width:75vw;
    max-width:80vw;
    background-color:#ff9f43;
    border-radius:20px;
    margin:auto;
    border:3px solid #ff9f43;
    overflow:hidden ;
    
}
#holder{
    height:60px;
    width:30px;
    border:none;
    background-color:#000;
    position:absolute;
    margin-left:45%;  
    
}

footer{
    height:50px;
    max-height:20vh;
    width:100vw;
    background-color:#ff9f43;
    display:flex;
    flex-direction:space-around;
    position:fixed;
    bottom:0;
    z-index:999;
    border-top:2px solid #fff;
}

footer span{
    margin:auto;
    color:#fff;
    }
    
footer span h1{
       font-size:1.5em;
       text-transform:uppercase;
       margin-top:6px;
   } 
footer .fa{
    font-size:1.5em;
    margin:auto;
    
}

#fa3{                                                                                                         margin-top:10px;
      color:#ff9f43;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           .carousel, .item, .active {
height:100%;
}
.carousel-inner {
height:100%;
}
.carousel {
margin-bottom: 60px;
}
.active{                                                                                                            transform:scale(1.5);                                                                                       }  


.carousel-indicators li{
   background-color:#ff9f43;
   border:2px solid #ff9f43;
}


.coming{
    display:none;
    height:20vh;
    width:50vw;
    position:fixed ;
    background-color:#0396ff;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:20px;
    box-shadow:3px 3px 0px #ff9f43;
    overflow:hidden;
    z-index:10;
    
 
}
.coming h1{
    font-size:1.2em;
    transform:scale(0.0);
    color:#ff9f4e;
    text-align:center ;
    font-weight:800;
    text-transform:uppercase ;
}
.coming p{
    font-size:0.8em;
    font-weight:750;
    color:#fff;
    padding:5%;
    text-align:center ;
    text-transform:uppercase ;
    margin-top:60%;

    
}


.part2 h1{
    position:fixed ;
    font-size:1.1em;
    font-weight:700;
    background-color:#ff9f43;
    padding:5px;
    color:#fff;
    border-radius: 0px  10px  10px  0px;

}


.part2 a{
    position:fixed ;
    font-size:1.1em;
    font-weight:700;
    background-color:#ff9f43;
    padding:5px;
    color:#fff;
    bottom:15px;
    right:50px;
       border-radius: 10px  0px  0px  10px;
}

.part2 button{
    position:fixed ;
    font-size:1.1em;
    font-weight:700;
    background-color:#ff9f43;
    padding:5px;
    color:#fff;
    bottom:15px;
    right:50px;
    border-radius: 10px  0px  0px  10px;
    outline:none;
    border:none;
}

.part2 button:hover;{
    position:fixed ;
    font-size:1.1em;
    font-weight:700;
    background-color:#000;
    padding:5px;
    color:#fff;
    bottom:15px;
    right:50px;
    border-radius: 10px  0px  0px  10px;
    outline:none;
    border:none;
}


#mainSection{
    display: ;
}


#about{
   display: none;
}


#about div{
    height:60vh;
    width:80vw;
    background:#ff9f43;
    position:absolute ;
    top:50%;
    left:50%;
    margin-top:-50%;
    margin-left:-40%;
    z-index:1;
    border-radius:20px;
    animation:about 3s linear forwards;
}


@keyframes about{
    0%{
        left:-50%;
    }
    
    100%{
        left:50%;
    }
}

#about div h1{
    font-size:1.8em;
    color:#fff;
    font-weight:600;
    text-align:center;
    text-transform:uppercase ;
}

#about div hr{
    height:10px;
    width:100%;
    color:#fff;
    background-color:#fff;
    border:none;
    margin-top:-5px;
    
}

#about div p span{
    font-size:1.8em;
    color:#000;
    
}

#about div p{
    font-size:1.0em;
    
    margin:20px;
    color:#fff;
}

#why{
    display:none;
}

#why div{
    height:60vh;
    width:80vw;
    background:#ff9f43;
    position:absolute ;
    top:50%;
    left:50%;
    margin-top:-50%;
    margin-left:-40%;
    z-index:1;
    border-radius:20px;
    overflow:auto;
    animation:about 3s linear forwards;
    
    
}


#why div h1{
    font-size:1.8em;
    color:#fff;
    font-weight:600;
    text-align:center;
    text-transform:uppercase ;
}
  #why div hr{
    height:10px;
    width:100%;
    color:#fff;
    background-color:#fff;
    border:none;
    margin-top:-5px;
    
}           

#why div p{
    font-size:1.0em;
    
    margin:20px;
    color:#fff;
}

#why div p span{
    font-size:1.8em;
    color:#000;
    
}

#special{
    display:none ;
}

#special div{
    height:60vh;
    width:80vw;
    background:#ff9f43;
    position:absolute ;
    top:50%;
    left:50%;
    margin-top:-50%;
    margin-left:-40%;
    z-index:1;
    border-radius:20px;
    overflow:auto;
    animation:about 3s linear forwards;
    
    
}


#special div h1{
    font-size:1.8em;
    color:#fff;
    font-weight:600;
    text-align:center;
    text-transform:uppercase ;
}
  #special div hr{
    height:10px;
    width:100%;
    color:#fff;
    background-color:#fff;
    border:none;
    margin-top:-5px;
    
}           

#special  div p{
    font-size:1.0em;
    
    margin:20px;
    color:#fff;
}

#special div p span{
    font-size:1.8em;
    color:#000;
    
}


#block{
    display:none  ;
}

#block div{
    height:60vh;
    width:80vw;
    background:#ff9f43;
    position:absolute ;
    top:50%;
    left:50%;
    margin-top:-50%;
    margin-left:-40%;
    z-index:1;
    border-radius:20px;
    overflow:auto;
    animation:about 3s linear forwards;
    
    
}


#block div h1{
    font-size:1.8em;
    color:#fff;
    font-weight:600;
    text-align:center;
    text-transform:uppercase ;
}
  #block div hr{
    height:10px;
    width:100%;
    color:#fff;
    background-color:#fff;
    border:none;
    margin-top:-5px;
    
}           

#block  div p{
    font-size:1.0em;
    
    margin:20px;
    color:#fff;
}

#block div p span{
    font-size:1.8em;
    color:#000;
    
}


#birthday{
    display:none  ;
}

#birthday div{
    height:60vh;
    width:80vw;
    background: url("https://dl.dropbox.com/s/n5534weslm0xsdf/humanbot.png?dl=0 ");
    background-position:top;
    background-size:cover;
    border:3px solid #ff9f43 ;
    position:absolute ;
    top:50%;
    left:50%;
    margin-top:-50%;
    margin-left:-40%;
    z-index:1;
    border-radius:20px;
    overflow:auto;
    animation: about 3s linear forwards;
    
    
}


#birthday div h1{
    font-size:1.8em;
    color:#fff;
    font-weight:600;
    text-align:center;
    text-transform:uppercase ;
}


#messpart{
    height:150px;
    width:100%;
    background-color:#ff9f43;
    display:inline-block ;
    position:absolute  ;
    right:0%;
    bottom:0%;
    border-top:3px solid #000;
}

#mepart{
    height:100px;
    width:35%;
    background-color:#ff9f43;
    display:inline-block ;
    position:absolute  ;
    right:0%;
    top:0%;
    border-radius:0px 0px 0px 10px;
    
}
 
#messpart p{
    color:#fff;
    padding-left:5px;
    font-weight:600;
}

#mepart h3{
    font-size:1em;
    font-weight:800;
    color:#fff;
    padding:2px;
    text-align:center;
    
}

#birthgit{
    height:30px;
    width:25%;
    background-color:#ff9f43;
    display:inline-block ;
    position:absolute  ;
    color:#fff;
    padding:5px;
    left:0%;
    top:0%;
    border-radius:0px 0px 0px 0px;
    
}


#princessgift{
  display:none;  
}

#princessgift div{
    height:50vh;
    max-height:250px;
    width:70vw;
    background:#000;
    position:fixed ;
    top:50%;
    left:50%;
    margin-top:-50%;
    margin-left:-35%;
    z-index:1;
    border-radius:20px;
    overflow:auto;
    
}
#princessgift div h1{
    font-size:1.2em;
    font-weight:750;
    color:#ff9f43;
    padding-top:5px;
    padding-left:5px;
    text-align:center;
}

#princessgift div p{
    font-size:0.9em;
    font-weight:750;
    color:#fff;
    padding-top:5px;
    padding-left:10px;
}

#princessgift div input{
   margin-top:10px;
    font-size:0.9em;
    font-weight:750;
    color:#000;
    padding-left:5px;
    height:25px;
    text-transform:uppercase ;
}

#princessgift div button{
    position:fixed ;
    font-size:0.9em;
    font-weight:700;
    background-color:#ff9f43;
    padding:5px;
    color:#fff;
    border-radius: 0px  5px  5px  0px;
    outline:none;
    border:none;
    margin-top:10px;
    height:25px;
}
   
#princessgift div .fa{
    position:fixed ;
    font-size:1.5em;
    font-weight:700;
    padding:10px;
    color:#fff;
    outline:none;
    border:none;
    
}

#hbdp{
    display:none;
}

#hbdp div{
    height:70vh;
    max-height:400px;
    width:70vw;
    background:#000;
    position:fixed ;
    top:50%;
    left:50%;
    margin-top:-50%;
    margin-left:-35%;
    z-index:1;
    border-radius:20px;
    overflow:auto;
    
}
#hbdp div h1{
    font-size:1.2em;
    font-weight:750;
    color:#ff9f43;
    padding-top:5px;
    padding-left:5px;
    text-align:center;
}

#hbdp div p{
    font-size:0.9em;
    font-weight:750;
    color:#fff;
    padding-top:5px;
    padding-left:10px;
}

#hbdp div .fa{
    position:fixed ;
    font-size:1.5em;
    font-weight:700;
    padding:10px;
    color:#fff;
    outline:none;
    border:none;
    
}
